@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}


.container {
  display: grid;
}

header {
  background-color: #2b2d31;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 24px;
  align-items: center;
  color: #fff;
}

.menu-button {
  background-color: #35393f;
  padding: 20px 16px;
  cursor: pointer;
}

.menu-checkbox{
  display: none;
}

.menu-checkbox:checked ~ .container {
  grid-template-columns: 1fr;
}

.file-name {
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.interaction-btns {
  display: flex;
  gap: 12px;
}

.trash-btn,
.save-btn {
  background-color: inherit;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn {
  background-color: #e46643;
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #f5f5f5;
  label {
    display: flex;
    cursor: pointer;
  }
}

.view-type {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 2px;
  color: #7c8187;
}

.view-type-checkbox {
  display: none;
}

.main-textarea {
  width: 100%;
  height: 80vh;
  border: none;
  padding: 16px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #35393f;
  outline: none;
}

.main-preview {
  display: grid;
  gap: 20px;
  padding: 16px;
}

.file-name-edit {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.nav {
  padding: 28px 24px;
  background-color: #1d1f22;
  height: 100vh;
  display: grid;
  gap: 28px;
  grid-template-rows: repeat(3, max-content);
  h1 {
    font-family: "Commissioner", sans-serif;
    font-size: 15px;
    line-height: 18.35px;
    letter-spacing: 5px;
    color: #fff;
  }

  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 2px;
    color: #7c8187;
  }
}

.new-doc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #e46643;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  line-height: 17.58px;
  cursor: pointer;
}

.doc-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.doc-item {
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  color: #fff;
  gap: 16px;
  cursor: pointer;
}

.doc-item.selected {
  background-color: #2b2d31;
}

.doc-metadata {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 15px;
  line-height: 17.58px;
}

.doc-date{
  color: #7C8187;
}
