@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.container {
  display: grid;
}

header {
  background-color: #2b2d31;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 24px;
  align-items: center;
  color: #fff;
}

.menu-button {
  display: flex;
  align-items: center;
  background-color: #35393f;
  padding: 20px 16px;
  cursor: pointer;
  height: 100%;
  &:hover {
    background-color: #e46643;
  }
}

.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .container {
  grid-template-columns: 1fr;
}

.doc-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.file-name {
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  cursor: pointer;
  width: 80%;
}

.interaction-btns {
  display: flex;
  gap: 12px;
  padding: 16px;
}

.trash-btn,
.save-btn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  svg{
    width: 24px;
  }
}

.trash-btn:hover {
  svg {
    fill: #e46643;
  }
}

.save-btn {
  background-color: #e46643;
  display: flex;
  gap: 8px;
  color: #fff;
  &:disabled {
    background-color: #7c8187;
    cursor: default;
  }
  &:hover:enabled {
    background-color: #f39765;
  }
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #f5f5f5;
  min-height: 48px;
  label {
    display: flex;
    cursor: pointer;
  }
}

.view-type-label{
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.view-type-label:hover {
  svg {
    fill: #e46643;
  }
}

.view-type {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 2px;
  color: #7c8187;
}

.view-type-checkbox {
  display: none;
}

.main-textarea {
  width: 100%;
  height: 85vh;
  border: none;
  padding: 16px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #35393f;
  outline: none;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;
}


.main-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.main-preview-content {
  display: grid;
  gap: 20px;
  padding: 16px;
  height: 85vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.main-preview-content, .main-textarea{
  max-width: 672px;
  margin-inline: auto;
}

.main-content.edit {
  .main-edit {
    display: inherit;
  }
  .main-preview {
    display: none;
  }
}

.main-content.preview {
  .main-edit {
    display: none;
  }
  .main-preview {
    display: grid;
  }
}

.file-name-edit {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 80%;
  span {
    font-size: 13px;
    font-weight: 300;
    line-height: 15.23px;
    color: #c1c4cb;
  }
}

.file-name-edit-input {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.nav {
  padding: 28px 24px;
  background-color: #1d1f22;
  height: 100vh;
  display: grid;
  gap: 28px;
  grid-template-rows: max-content max-content max-content 1fr max-content;
  h1 {
    font-family: "Commissioner", sans-serif;
    font-size: 15px;
    line-height: 18.35px;
    letter-spacing: 5px;
    color: #fff;
  }

  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 2px;
    color: #7c8187;
  }
}

.new-doc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #e46643;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  line-height: 17.58px;
  cursor: pointer;
  &:hover {
    background-color: #f39765;
  }
}

.doc-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.doc-item {
  padding: 16px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  color: #fff;
  gap: 16px;
  cursor: pointer;
  &:hover {
    background-color: #2b2d31;
    .doc-title{
      color: #e46643;
    }
  }
}

.doc-item.selected {
  background-color: #111111;
}

.doc-metadata {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 15px;
  line-height: 17.58px;
  gap: 4px;
}

.doc-date {
  color: #7c8187;
}

.delete-dialog {
  border: none;
  margin: auto;
  max-width: 70%;
  padding: 0;
  border-radius: 4px;
}

.dialog-container {
  display: grid;
  gap: 16px;
  padding: 24px;
  border-radius: 4px;

  h3 {
    color: #35393f;
    font-size: 20px;
    line-height: 26.38px;
  }

  p {
    color: #7c8187;
    font-size: 14px;
    line-height: 24px;
  }
}

.delete-dialog-btn,
.cancel-dialog-btn {
  font-size: 15px;
  line-height: 17.58px;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-dialog-btn {
  background-color: #e46643;
  &:hover {
    background-color: #f39765;
  }
}

.cancel-dialog-btn {
  background-color: #7c8187;
  &:hover {
    background-color: #a3a8ad;
  }
}

.theme-switch {
  display: flex;
  align-items: center;
}

.switch {
  appearance: none;
  background-color: #5A6069;
  height: 22px;
  width: 48px;
  display: inline-flex;
  margin-inline: 16px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

.switch:after {
  content: "";
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
}

.switch:checked:after {
  transform: translateX(180%);
}

.desktop-title {
  display: none;
  font-family: "Commissioner";
  font-size: 15px;
  font-weight: 700;
  line-height: 18.35px;
  letter-spacing: 5px;
  color: #fff;
  border-right: 1px solid #5A6069;
  padding-right: 24px;
  height: 40px;
  align-items: center;
}

.tablet{
  display: none;
}

@media (min-width: 768px) {
  .main-content.edit {
    grid-template-columns: 1fr 1fr;
  }

  .main-content.preview {
    grid-template-columns: 1fr;
  }

  .main-content.edit {
    .main-edit {
      border-right: 1px solid #e4e4e4;
      display: grid;
    }
    .main-preview {
      display: grid;
    }
  }

  .main-content.preview {
    .main-edit {
      display: none;
    }
    .main-preview {
      display: grid;
    }
  }

  .delete-dialog {
    max-width: 50%;
  }

  .tablet{
    display: inherit;
  }
}

@media (min-width: 1440px) {
  .desktop-title {
    display: flex;
  }

  .delete-dialog {
    max-width: 25%;
  }

  .nav{
    grid-template-rows: max-content max-content 1fr max-content;
    h1{
      display: none;
    }
  }
}
