body.dark-mode {
  background-color: #151619;
  main {
    .main-info {
      background-color: #1d1f22;
      .view-type{
        color: #C1C4CB;
      }
      .view-type-label{
        svg{
          fill: #C1C4CB;
        }
        &:hover{
          svg{
            fill: #e46643;
          }
        }
      }
    }
    .main-content{
      .main-textarea{
        background-color: #151619;
        color: #C1C4CB;
      }
      .main-preview{
        h1, h2, h3, h4, h5, h6{
          color: #fff;
        }
        p, ul, ol{
          color: #C1C4CB;
        }
        blockquote{
          background-color: #2B2D31;
          p{
            color: #fff;
          }
        }
        pre{
          background-color: #2B2D31;
          code{
            color: #fff;
          }
        }
      }
    }
  }
  .delete-dialog{
    .dialog-container{
      background-color: #1D1F22;
      h3{
        color: #fff;
      }
      p{
        color: #C1C4CB;
      }
    }
  }
}

@media (min-width: 768px) {
  body.dark-mode {
    main {
      .main-content.edit{
        .main-edit{
          border-right: 1px solid #5A6069;
        }
      }
    }
  }
}